<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="carBean" class="com.infy.Car">
        <constructor-arg index="0" value="Alto K10"/>
        <constructor-arg index="1" value="White"/>
    </bean>
    
    <bean id="personBean" class="com.infy.Person" autowire="byType">
        <property name="name" value="Omkar"/>   
    </bean>

</beans>
